.image-background{
	background-image:url(33036.jpg);
	background-position: center;
	background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
nav{
	height:60px;
	margin: 0;
	background:rgba(255,255,255,0.5);
}
nav ul{
	padding-top: 10px;
	margin:0px;
	list-style:none;
}
nav ul li{
	float:right;
	margin-right:20px;
	line-height: 40px;
}
nav ul li a{
	text-decoration:none;
}
.logo{
	float:left;
	font-weight: bolder;
	color:#ae7bb4;
}
.homepage{
    text-align:center;
	color: black;
	min-height: 550px;
}
h1{
	margin-top:300px;
	font-size: 60px;
}
.homepage .sub-head{
	line-height: 50px;
	margin-top:60px;
	font-size:30px;
}
.more{
	border:none;
	margin-top:220px;
	color:#082530;
	font-size: 30px;
	padding:10px 10px;
	background: rgba(123,190,210,0.6);
}
.content .sec1{
	background:#e9ebfa;
	text-align: center;
	height: 300px;
	padding:100px;
}
.sec1-header h3,p{
	margin: 0px;
}
.sec1-header p{
	padding:60px;
}
.item-group span:nth-child(1){
	background:rgba(15,37,64,0.1);
}
.item-group span:nth-child(2){
	background:rgba(15,37,64,0.2);
}
.item-group span:nth-child(3){
	background:rgba(15,37,64,0.3);
}
.item{
	display: inline-block;
	padding:25px;
    margin:20px;
	transform: rotate(45deg);
	border: 3px solid #fff;
}
.sec2{
	background:rgba(135,152,208,0.9);
	font-size: 0px;
}
.sec2-content:nth-child(even){
	background:rgba(0,0,0,0.05);

}
.sec2-img{
	width:45%;
	display: inline-block;
}	
.sec2-img img{
	width:100%;
}	
.sec2-content>div{
	float:left;
}
.sec2-content:after{
	content:"";
	display:block;
	clear: both;
}
.sec2-content .header{
    width:55%;
	color: white;
	position: relative;
	top:150px;
}
.sec2 .header .main-header{
	font-size: 28px;
    text-align: center;

}
.sec2 .header .sub-header{
	font-size: 18px;
	max-width: 70%;
	text-align: center;
}
.sec3{
	background: #e3d8e3;
	color:white;
	padding:0px 400px 150px;
}
.sec3 h3 {
	margin-top: 0;
	padding-top: 100px;
	text-align:center;
	font-size:40px;
}
.sec3-header p{
	font-size:28px;
}
.card-group{
	overflow: hidden;
	margin-top: 50px;
}
.card-group div{
	max-width:50%;
	float:left;
	min-height:300px;
	font-size:28px;
}
.card{
	box-sizing: border-box;
	padding:50px;
}
.card:nth-child(1){
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}
footer{
    background-image:url(background.jpg);
	background-position: center;
	background-repeat:no-repeat;
    background-size: cover; 
	min-height: 150px;
	color:white;
}
footer .sign{
	text-align: center;
	padding-top:80px;
	min-height: 300px;
	
}
footer .sign h3{
	margin-top: 80px;
	font-size: 40px;
}
footer .sign p{
	margin-top: 50px;
	font-size: 30px;
}
footer ul{
	margin-bottom:10px;
	padding-top: 50px;
	text-align:center;


}
.footer-background{
	background:rgba(0,0,0,0.8);
}
footer ul li{
	display: inline-block;
	list-style: none;
	padding:20px;
}
.copy{
	text-align:center;
	padding-top: 50px;
	padding-bottom: 20px;
}






