nav{
	background: #ccc;
	height:40px;
	margin: 0;
}
nav ul{
	margin:0px;
	list-style:none;
}
nav ul li{
	float:right;
	margin-right:20px;
	line-height: 40px;
}
nav ul li a{
	text-decoration:none;

}
.logo{
	float:left;
	font-weight: bolder;
}
.homepage{
	background:#0F2540;
	padding:50px 400px;

	text-align:center;
	color:white;
}
.homepage .subhead p{
	line-height: 60px;
}
h1{
	margin-top:120px;
}
.homepage .hr{
	height:2px;

}
.homepage .subhead{
	margin-top:60px;
}
.more{
	border：none;
	margin-top:100px;
	color:#082530;
	font-size: 15px;
	padding:1px 2px;
}
.sec1{


}
.content .sec1{
	background:#eee;
	text-align: center;
	height: 240px;
	padding:100px;
}
.sec1-header h3,p{
	margin: 0px;
}
.sec1-header p{
	padding:50px;
}

.item{
	display: inline-block;
	padding:25px;
    margin:20px;
	transform: rotate(45deg);
	border: 5px solid #000;
}
.sec2{
	background: #7bbed2;
	font-size: 0px;
}
.sec2-content:nth-child(even){
	background:rgba(0,0,0,0.05);

}
.sec2-img{
	width:45%;
	display: inline-block;
}	
.sec2-img img{
	width:100%;
}	
.sec2-content>div{
	float:left;
}
.sec2-content:after{
	content:"";
	display:block;
	clear: both;
}
.sec2-content .header{
    width:55%;
	color: white;
	position: relative;
	top:150px;
}
.sec2 .header .main-header{
	font-size: 28px;
    text-align: center;

}
.sec2 .header .sub-header{
	font-size: 18px;
	max-width: 70%;
	text-align: center;
}
.sec3{
	background: #0f2540;
	color:white;
	padding:10px 400px 20px;
}
.sec3 h3 {
	margin-top: 0;
	padding-top: 150px;
	text-align:center;
	font-size:40px;
}
.sec3-header p{
	font-size:28px;
}
.card-group{
	overflow: hidden;
	margin-top: 50px;
}
.card-group div{
	max-width:50%;
	float:left;
	min-height:300px;
	font-size:28px;
}
.card{
	box-sizing: border-box;
	padding:50px;
}
.card:nth-child(1){
	background: rgba(255,255,255,0.04);
}
.card:nth-child(2){
	background: rgba(255,255,255,0.08);
}
.card:nth-child(3){
	background: rgba(255,255,255,0.12);
}
.card:nth-child(4){
	background: rgba(255,255,255,0.16);
}
.card:nth-child(5){
	background: rgba(255,255,255,0.20);
}
.card:nth-child(6){
	background: rgba(255,255,255,0.24);
}
footer{
	background:#444;
	min-height: 150px;
}
footer ul{
	margin:0px;
	text-align:center;

}
footer ul li{
	display: inline-block;
	list-style: none;
	padding:20px;
}
.copy{
	text-align:center;
	padding-top: 50px;
}






