nav{
	background: #ccc;
	height:40px;
	margin: 0;
}
nav ul{
	margin:0px;
	list-style:none;
}
nav ul li{
	float:right;
	margin-right:20px;
}
nav ul li a{
	text-decoration:none;
}
.logo{
	float:left;
}
.homepage{
	background:#0F2540;
	padding:50px 400px;
	text-align:center;
	color:white;
}
h1{
	margin-top:120px;
}
.homepage .hr{

}
.homepage .subhead{
	margin-top:60px;
}
.more{
	margin-top:100px;
	color:#082530;
}

